feed-card {
  width: 18rem;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.feed-card img {
  height: 10rem;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.feed-card .card-body {
  padding: 1rem;
}

.card-img-custom {
  width: 286px;
  height: 180px;
  object-fit: cover;
}